section
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#home') Miles Matthias
        .nav-collapse
          ul.nav
            li.active
              a(href='#home') Home
            li 
              a(href='#contact') Contact


section.container#home

  .row
    .span8.offset2
      .carousel.slide#myCarousel
        .carousel-inner
          .item
            img(src='images/flatirons.jpg')
            div.carousel-caption
              h4 I love Boulder, Colorado.
              p I also love hiking. The Flatirons are a frequent hiking spot for me.
          .item
            img(src='images/fishing.jpeg')
            div.carousel-caption
              h4 Seafood is awesome.
              p Lake Michigan has some good trout, and I got me one!
          .item
            img(src='images/bowling.jpeg')
            div.carousel-caption
              h4 I'm very curious.
              p I found a pot of gold!
          .item
            img(src='images/beach.jpeg')
            div.carousel-caption
              h4 My family is important.
              p Hanging out with my family on vacations or any time is a great time.
          .item
            img(src='images/jackrabbit.jpeg')
            div.carousel-caption
              h4 I'm sexy and I know it.
              p I don't like South Dakota much, but they did have this jackrabbit. I work out!
        a.carousel-control.left(href="#myCarousel", data-slide="prev")
          &lsaquo;
        a.carousel-control.right(href="#myCarousel", data-slide="next")
          &rsaquo;

  .row

    .span4.offset1
      h2 Welcome
      p
        | I’m an HTML5 developer working at 
        a(href="http://www.inspiringapps.com") InspiringApps
        |  in Boulder, Colorado. I love HTML5, mobile, and UI technologies, in addition to the exciting and hard working startup culture.
      p
        | Check out my projects on 
        a(href="http://github.com/milesmatthias") github
        |, read my 
        a(href="http://milesmatthias.tumblr.com") blog
        |, follow me on 
        a(href="http://twitter.com/miles_matthias") twitter
        |, and feel free to 
        a(href="#contact") get in touch
        |.

    .span4.offset3
      h2 Follow Me
      .row
        ul.socialnetworks
          li
            a#github(href="http://github.com/milesmatthias", data-original-title="My github profile")
              //-img.github(src=)
              object.github(data='images/github.svg', type="image/svg+xml")
          li
            a#tumblr(href="http://milesmatthias.tumblr.com", data-original-title="My tumblr blog")
              object.tumblr(data='images/rss.svg', type="image/svg+xml")
          li
            a#twitter(href="http://twitter.com/miles_matthias", data-original-title="My twitter handle")
              object.twitter(data='images/twitter.svg', type="image/svg+xml")
          li
            a#email(href="#contact", data-original-title="Email me")
              object.email(data='images/email.svg', type="image/svg+xml")


section.container#contact

  .row
    .span6.offset3
      form.form-horizontal
        fieldset.error
          legend Contact Me
          .control-group
            .controls
              input.input-xlarge#subjectInput(type='text', placeholder='Subject', data-content='I like talking about lots of things. But it’s always nice to know what we’re talking about in advance. Throw in the general theme of your e-mail here.', data-original-title='What are we talking about?')
          .control-group
            .controls
              textarea.input-xlarge#bodyInput(placeholder='Body', rows='15', data-content='Write down your thoughts here, I’ll read them, and I’ll do my best to get back to you.', data-original-title='Talk to me!')
          .form-actions
            button.btn.btn-primary#submitBtn(type='submit') Save changes

.container
  footer
    p © Miles Matthias 2012

//- Le scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/javascripts/bootstrap-carousel.js')
script(src='/javascripts/bootstrap-scrollspy.js')
script(src='/javascripts/bootstrap-tooltip.js')
script(src='/javascripts/bootstrap-popover.js')
script(src='/javascripts/app.js')
