.wrapper
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='#') Miles Matthias
        .nav-collapse
          ul.nav
            li
              a(href='#') Home
            li 
              a(href='#contact') Contact

  .container

    .span9.offset1.columns
      .carousel.slide#myCarousel
        .carousel-inner
          .item
            img(src='images/bootstrap-mdo-sfmoma-01.jpg')
            div.carousel-caption
              h4 Thumbnail Label One
              p This is the first random picture in this carousel in order to show what we're doing here!
          .item
            img(src='images/bootstrap-mdo-sfmoma-02.jpg')
            div.carousel-caption
              h4 Thumbnail Label Two
              p This is the second random picture in this carousel in order to show what we're doing here!
          .item
            img(src='images/bootstrap-mdo-sfmoma-03.jpg')
            div.carousel-caption
              h4 Thumbnail Label Three
              p This is the third random picture in this carousel in order to show what we're doing here!

    .row
      .span4.offset1
        h2 github
        p
          | I publish all of my personal work here. It's really convienant for me, but I also love social coding. Watch, fork, and pull request away!
        p
          a.btn(href='http://www.github.com/milesmatthias') Visit my github »
      .span4.offset2
        h2 twitter
        p
          | I like to tweet. It's one of the best ways to contact me. Tweet, tweet.
        p
          a.btn(href='http://www.twitter.com/miles_matthias') Visit my twitter »

    footer
      p © Miles Matthias 2012
