.wrapper
  .topbar
    .fill
      .container
        a.brand(href='#') Miles Matthias
  .container
    //
       Main hero unit for a primary marketing message or call to action 
    .hero-unit
      h1 Hello, world!
      p
        | This is my personal website. 
        strong.below Below are the 3 services I use most often
        |, so you can follow me on them. I like Apple, Google, iOS, HTML5, cooking, running, hiking, camping, skiing, boating, writing, reading, and art. I always like meeting new people so send me an email if you want to chat about any of the above.
      p
        a.btn.large.danger(href='mailto:miles.matthias@gmail.com') E-mail me »
    //
       Example row of columns 
    .row
      .span-one-third
        h2 github
        p
          | I publish all of my personal work here. It's really convienant for me, but I also love social coding. Watch, fork, and pull request away!
        p
          a.btn(href='http://www.github.com/milesmatthias') Visit my github »
      .span-one-third
        h2 twitter
        p
          | I like to tweet. It's one of the best ways to contact me. Tweet, tweet.
        p
          a.btn(href='http://www.twitter.com/miles_matthias') Visit my twitter »
      .span-one-third
        h2 tumblr
        p
          | I blog here. I write about startups, running, technology, and anything that interests me.
        p
          a.btn(href='http://milesmatthias.tumblr.com') Visit my tumblr »
    //-footer
      //-p © Company 2011
  //
     /container 
