body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

strong.below{
    color:#10B537;
}

div.wrapper{
    background-color:white;
}