body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

strong.below{
    color:#10B537;
}

div.wrapper{
    background-color:white;
}

ul.socialnetworks{
	list-style-type: none;
	float:right;
}

ul.socialnetworks li{
	display: inline;
	padding: 10px;
	font-size: 2.5em;
	color: yellow;
}

ul.socialnetworks li.twitter{
	font-family: 'PicoBlackAlRegular', sans-serif;
}

ul.socialnetworks li.github{
	font-family: 'Palatino', Georgia, 'Times New Roman', serif;
}

ul.socialnetworks li.tumblr{
	font-family: 'BookmanOldStyleBold', sans-serif;
}
